*.pch
.direnv
graph.dot
test_graph.dot
test_graph.svg
a.out
*.o
vgcore.*
test_graph
test_solver
test_solver_color
test_solver_color_perf
test_solver_color_perf_omp
test_solver_color_perf_serial
test_solver_subgraph
